<div class="custom-margin">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</div>

<p-card class="custom-card-margin">
    <p-dialog [(visible)]="isLoading" [modal]="true" [closable]="false" showHeader="false"
        styleClass="custom-loading-dialog">
        <div class="loading-content">
            <p-progressSpinner></p-progressSpinner>
            <p class="loading-text">Processando...</p>
        </div>
    </p-dialog>

    <form [formGroup]="clienteForm" (ngSubmit)="salvarCliente()">
        <div class="d-flex align-items-center mt-0">
            <h1 style="color: #5e2974; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap: nowrap;">
                <strong>Cadastrar Cliente</strong>
            </h1>
            <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
                <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="form-label" for="nome">Nome</label>
                <input id="nome" type="text" class="form-control input-pequeno" pInputText formControlName="nome"
                    placeholder="Digite o nome do cliente"/>
            </div>

            <div class="col-md-3">
                <label for="cpf" class="form-label">CPF</label>
                <input
                    id="cpf"
                    type="text"
                    class="form-control input-pequeno"
                    pInputText
                    formControlName="cpf"
                    placeholder="000.000.000-00"
                    (input)="applyCpfMask()"
                />
                <small
                    *ngIf="clienteForm.get('cpf')?.invalid && (clienteForm.get('cpf')?.touched || clienteForm.get('cpf')?.dirty)"
                    class="text-danger"
                >
                    <i class="pi pi-exclamation-circle"></i> CPF inválido (formato: 000.000.000-00)
                </small>
            </div>


            <div class="col-md-3 custom-field">
                <label style="margin-block-end: 8px;">Data de Nascimento</label>
                <p-calendar
                    [showIcon]="true"
                    [iconDisplay]="'input'"
                    dateFormat="dd/mm/yy"
                    placeholder="Selecione uma data"
                    formControlName="dataNascimento"
                    [showOnFocus]="false">
                </p-calendar>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label for="email" class="form-label">E-mail</label>
                <input id="email" pInputText type="email" class="form-control input-pequeno" formControlName="email"
                    placeholder="Digite o e-mail" />
                <small
                    *ngIf="clienteForm.get('email')?.invalid && (clienteForm.get('email')?.touched || clienteForm.get('email')?.dirty)"
                    class="text-danger">
                    <i class="pi pi-exclamation-circle"></i> E-mail inválido
                </small>
            </div>
            <div class="col-md-3">
                <label for="primeiroTelefone" class="form-label">Telefone 1</label>
                <input
                    id="primeiroTelefone"
                    type="text"
                    class="form-control input-pequeno"
                    pInputText
                    formControlName="primeiroTelefone"
                    placeholder="Ex: (85) 90000-0000"
                    (input)="applyPhoneMask('primeiroTelefone')"
                />
                <small
                    *ngIf="clienteForm.get('primeiroTelefone')?.invalid && (clienteForm.get('primeiroTelefone')?.touched || clienteForm.get('primeiroTelefone')?.dirty)"
                    class="text-danger"
                >
                    <i class="pi pi-exclamation-circle"></i> Telefone inválido (formato: (XX) 9XXXX-XXXX)
                </small>
            </div>

            <div class="col-md-3">
                <label for="segundoTelefone" class="form-label">Telefone 2</label>
                <input
                    id="segundoTelefone"
                    type="text"
                    class="form-control input-pequeno"
                    pInputText
                    formControlName="segundoTelefone"
                    placeholder="Ex: (85) 90000-0000"
                    (input)="applyPhoneMask('segundoTelefone')"
                />
                <small
                    *ngIf="clienteForm.get('segundoTelefone')?.invalid && (clienteForm.get('segundoTelefone')?.touched || clienteForm.get('segundoTelefone')?.dirty)"
                    class="text-danger"
                >
                    <i class="pi pi-exclamation-circle"></i> Telefone inválido (formato: (XX) 9XXXX-XXXX)
                </small>
            </div>
            <div class="col-md-3">
                <label for="rua" class="form-label">Rua</label>
                <input id="rua" type="text" class="form-control input-pequeno" pInputText formControlName="rua"
                    placeholder="Digite o nome da rua"/>
            </div>
            <div class="col-md-3">
                <label for="numero" class="form-label">Número</label>
                <input id="numero" type="text" class="form-control input-pequeno" pInputText formControlName="numero"
                       placeholder="Digite o número"/>
            </div>
            <div class="col-md-3">
                <label for="complemento" class="form-label">Complemento</label>
                <input id="complemento" type="text" class="form-control input-pequeno" pInputText formControlName="complemento"
                       placeholder="Digite o complemento"/>
            </div>
            <div class="col-md-3">
                <label for="cep" class="form-label">CEP</label>
                <input
                    id="cep"
                    type="text"
                    class="form-control input-pequeno"
                    pInputText
                    formControlName="cep"
                    placeholder="Digite o CEP"
                    (input)="applyCepMask()"
                />

            </div>

        </div>


        <!-- Botões -->
        <div class="d-flex justify-content-left mt-4">
            <button type="button" class="btn-limpar mx-2" (click)="limparFormulario()">Limpar</button>

            <!-- Botão para cadastrar novo cliente -->
            <button *ngIf="!isEditing" type="submit" class="btn-salvar mx-2">
                Cadastrar Cliente
            </button>

            <!-- Botão para atualizar cliente existente -->
            <button *ngIf="isEditing" type="submit" class="btn-atualizar mx-2">
                Atualizar Cliente
            </button>
        </div>

    </form>
</p-card>

<p-toast></p-toast>
